body{
  margin: 50px;
}
.status {
  color: white;
  margin: 2px;
  margin-left: 20px;
}
.deleteBtn{
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
}
.col-lg-6 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.list-group-item p{
  color: gray;
}

.list-group-item{
  display: block;
}
.input-group {
  margin-bottom: 25px;
}
